
.container {
  width: 60%;
  margin: 0 auto;
}

.list-group, .list-group-item {
  border: none;
}

.list-group-item a {
  color: rgb(73, 76, 158) ;
  font-weight: 600;
}

.list-group-item a:hover {
  color: rgb(29, 30, 62) ;
  text-decoration:underline !important;
}
